
/**********************************
 top-level typesetting
 **********************************/

html{
	background-color: white;
	height: 100%;
	font-family: 'M+ C Type-2 (basic latin) Regular', 'M+ Type-2 (general-j) Regular', sans-serif;
}

body{
	/* page appearance */
	min-height: 100%;
	width: 1000px;
	margin: 0 auto;
	padding: 0px;
	border-left: 1px solid;
	border-right: 1px solid;

	/* color */
	background-color : #F3F3F3;
	color: #303030;
}

body header.main{
	width: 100%;
	margin: 0 auto;
}

body footer.main{
	margin: 0 auto;
	padding: 5px;
	background-color: #303030;
	color: #F3F3F3;
}

body article.page-content{
	margin: 12px 12px;
	padding: 0px;
	padding-bottom: 12px;
	background-color: #DDC;
}

body article.page-content header{
	width: 100%;
	text-align: left;
	margin: 12px 0px auto;
	/*padding: 3px;*/
	color: #303030;
}

/**********************************
 second-level typesetting
 **********************************/

/* 見出し */

h1{
	font-size: 38px;
	margin: 0 auto;
	font-family: 'M+ C Type-2 (basic latin) Heavy', 'M+ Type-2 (general-j) Heavy', sans-serif;
	padding: 0px 10px;
}

h1 span.highlight{
	color: #888;
}

h2{
	margin: 2px;
	font-size: 24px;
	font-family: 'M+ C Type-2 (basic latin) Heavy', 'M+ Type-2 (general-j) Heavy', sans-serif;
	padding: 0px 10px;
}

/**********************************/
/* ナビゲーション */

nav.whole-website{
	margin: 0 auto;
	background-color: #EA4848;
}

nav.whole-website ul{
	margin: 0 auto;
	padding: 0px;
	font-size: 0px;
}

nav.whole-website ul li{
	display: inline-block;
	
	margin: 0 auto;
	padding: 4px 5px;
	border-left: 2px dotted #303030;

	font-family: 'M+ C Type-2 (basic latin) Black', 'M+ Type-2 (general-j) Black', sans-serif;
	font-size: 20px;
}

nav.whole-website ul li.first{
	border-left: 0px;
}

nav.whole-website ul li.here{
	background-color: #FF8888;
}

/**********************************/
/* 段落 */

p{
	margin: 0 auto;
}

article p{
	padding: 1px 12px;
	font-size: 16px;
}

/**********************************
 trivial typesetting
 **********************************/

strong{
	font-family: 'M+ C Type-2 (basic latin) Bold', 'M+ Type-2 (general-j) Bold', sans-serif;
}

a:link { color: #101010; }
a:visited { color: #303030; }
a:hover { color: #FFF; }
a:active { color: #FFF; }